@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Reemplaza `borderWidth.DEFAULT = '.75px'` */
  --default-border-width: 0.75px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  /* font-family: 'Space Grotesk', sans-serif; */
  text-wrap: balance;
}

/* Estado activo para tus botones de skills */
.activo {
  background-color: rgba(255, 255, 255, 0.5) !important;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 50%),
    0 4px 6px -4px rgb(0 0 0 / 50%);
}

/* Variante dark (gracias a @custom-variant arriba, también podés usar `dark:` en clases) */
:is(.dark .activo) {
  background-color: rgba(0, 0, 0, 0.5) !important;
  box-shadow:
    0 10px 15px -3px rgb(37 39 55 / 0.5),
    0 4px 6px -4px rgb(59 130 246 / 0.5);
}
