@import 'tailwindcss';

@font-face {
  font-display: swap;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 200;
  src: url('./assets/fonts/manrope-v20-latin-200.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/manrope-v20-latin-300.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/manrope-v20-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/manrope-v20-latin-500.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/manrope-v20-latin-600.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/manrope-v20-latin-700.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  src: url('./assets/fonts/manrope-v20-latin-800.woff2') format('woff2');
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Reemplaza `borderWidth.DEFAULT = '.75px'` */
  --default-border-width: 0.75px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  /* font-family: 'Space Grotesk', sans-serif; */
  text-wrap: balance;
}

/* Estado activo para tus botones de skills */
.activo {
  background-color: rgba(255, 255, 255, 0.5) !important;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 50%),
    0 4px 6px -4px rgb(0 0 0 / 50%);
}

/* Variante dark (gracias a @custom-variant arriba, también podés usar `dark:` en clases) */
:is(.dark .activo) {
  background-color: rgba(0, 0, 0, 0.5) !important;
  box-shadow:
    0 10px 15px -3px rgb(37 39 55 / 0.5),
    0 4px 6px -4px rgb(59 130 246 / 0.5);
}
