* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  background: rgb(37, 18, 23);
  background: radial-gradient(
    circle,
    rgba(37, 18, 23, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

main {
  max-width: calc(100% - 60px);
  min-width: 1200px;
  min-height: calc(100vh - 60px);
  margin: 30px;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23251217' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 2fr 1.5fr 1fr;
  gap: 20px 20px;
  grid-template-areas:
    "Header Header Header Header Header"
    "About-me About-me About-me Redes Redes"
    "About-me About-me About-me Skills Skills"
    "Proyectos Proyectos Proyectos Proyectos Proyectos"
    "Proyectos Proyectos Proyectos Proyectos Proyectos";
}

.Header {
  grid-area: Header;
  background-color: rgba(189, 62, 62, 0.1);
  border: 2px solid rgb(49, 36, 36);
  border-radius: 5px;
}
.About-me {
  grid-area: About-me;
  background-color: rgba(189, 62, 62, 0.1);
  border: 2px solid rgb(49, 36, 36);
  border-radius: 5px;
}
.Redes {
  grid-area: Redes;
  background-color: rgba(189, 62, 62, 0.1);
  border: 2px solid rgb(49, 36, 36);
  border-radius: 5px;
}
.Proyectos {
  grid-area: Proyectos;
  background-color: rgba(189, 62, 62, 0.1);
  border: 2px solid rgb(49, 36, 36);
  border-radius: 5px;
}
.Skills {
  grid-area: Skills;
  background-color: rgba(189, 62, 62, 0.1);
  border: 2px solid rgb(49, 36, 36);
  border-radius: 5px;
}
